EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBF8GcIcz_UifWK6GEPVFabip2p-MKIj9E
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=rastro-1f47f.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=rastro-1f47f
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=rastro-1f47f.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=306341155584
EXPO_PUBLIC_FIREBASE_APP_ID=1:306341155584:web:5f1c367412934e25a359e5

# Google Maps (Geocoding + Maps SDK for Android no build nativo)
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=

# Cloudflare Worker rastro-api (upload R2 + Gemini)
EXPO_PUBLIC_RASTRO_API_URL=
